@model IEnumerable<BlogSite.Application.Blogs.Models.BlogPreview>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@foreach(var blogPreview in Model)
{
    <partial name="_BlogPreview" model="blogPreview" />
}
<div>
    <a asp-action="Create" class="btn btn-primary">Create New Blog</a>
</div>